
.container{
    display: flex;
    
}

.card0{
    border-radius: 20px;
    margin-left: 10px;
    height: 350px;
    width: 200px;
    background-color: #fff;
    background-position: center;
    flex: 0.5;
    transition: .3s all ease;
}
.card1{
    border-radius: 20px;
    margin-left: 10px;
    height: 350px;
    width: 200px;
    background-color: #fff;
    background-position: center;
    flex: 0.5;
    transition: .3s all ease;
}
.card2{
    border-radius: 20px;
    margin-left: 10px;
    height: 350px;
    width: 200px;
    background-color: #fff;
    background-position: center;
    background-size: 1000px;
    border-width: 200px;
    border-top: 100px;
    flex: 0.5;
    transition: .3s all ease;
}
.card3{
    border-radius: 20px;
    margin-left: 10px;
    height: 350px;
    width: 200px;
    background-color: #fff;
    background-position: center;
    background-size: 1000px;
    border-width: 200px;
    border-top: 100px;
    flex: 0.5;
    transition: .3s all ease;
}
.card4{
    border-radius: 20px;
    margin-left: 10px;
    height: 350px;
    width: 200px;
    background-color: #fff;
    background-position: center;
    background-size: 1000px;
    border-width: 200px;
    border-top: 100px;
    flex: 0.5;
    transition: .3s all ease;
}
.card0:hover{
    flex: 2;
    
    background: url(photo.jpg) center no-repeat;
    background-color: rgb(207, 207, 207);
    background-size: 400px;
    background-position-y: -150px;
}
.card1:hover{
    flex: 2;
    
    background: url(photo1.jpg) center no-repeat;
    background-color: rgb(207, 207, 207);
    background-size: 400px;
}
.card2:hover{
    flex: 2;
    
    background: url(photo2.jpg) center no-repeat;
    background-color: rgb(207, 207, 207);
    background-size: 670px;
}
.card3:hover{
    flex: 2;
    
    background: url(photo3.jpg) center no-repeat;
    background-color: rgb(207, 207, 207);
    background-size: 670px;
}
.card4:hover{
    flex: 2;
    
    background: url(photo4.jpg) center no-repeat;
    background-color: rgb(207, 207, 207);
    background-size: 500px;
}
